In [1]:
import pandas as pd
import numpy as np

file_path_HLES_hc = '../Dataset/SurveyData/SurveyData_CSV_DAP_2021_HLES_health_conditions_v1.0.csv'
file_path_HLES_do = '../Dataset/SurveyData/SurveyData_CSV_DAP_2021_HLES_dog_owner_v1.0.csv'
file_path_HLES_cc = '../Dataset/SurveyData/SurveyData_CSV_DAP_2021_HLES_cancer_conditions_v1.0.csv'
file_path_DO = '../Dataset/DogOverview/DogOverview_CSV_DAP_2021_DogOverview_v1.0.csv'
file_path_EOLS = '../Dataset/SurveyData/SurveyData_CSV_DAP_2021_EOLS_v1.0.csv'


df_HLES_hc_uncleaned = pd.read_csv(file_path_HLES_hc, delimiter=',')
df_HLES_do = pd.read_csv(file_path_HLES_do, delimiter=',')
df_HLES_cc = pd.read_csv(file_path_HLES_cc, delimiter=',')
df_DO = pd.read_csv(file_path_DO, delimiter=',')
df_ELOS = pd.read_csv(file_path_EOLS, delimiter=',')

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_22342/2023128159.py:12: DtypeWarning: Columns (5,21,75,77,79,81,83,85,87,89,191,192,193,194,195,196,197,198,199,200,201,204,214,285,295,516,566) have mixed types. Specify dtype option on import or set low_memory=False.
  df_HLES_do = pd.read_csv(file_path_HLES_do, delimiter=',')

In [2]:
df_HLES_do[['hs_health_conditions_eye', 'hs_health_conditions_ear','hs_health_conditions_liver', 'hs_health_conditions_infectious_disease', 'hs_health_conditions_cardiac', 'hs_health_conditions_oral', 'dd_age_years']]

,hs_health_conditions_eye,hs_health_conditions_ear,hs_health_conditions_liver,hs_health_conditions_infectious_disease,hs_health_conditions_cardiac,hs_health_conditions_oral,dd_age_years
0,0,0,0,0,0,0,16.333333
1,0,0,0,2,0,0,1.833333
2,0,2,0,0,0,2,13.000000
3,0,0,0,0,0,0,13.000000
4,0,0,0,2,0,0,2.166667
...,...,...,...,...,...,...,...
33167,2,0,0,0,0,0,10.000000
33168,0,2,0,0,0,2,3.000000
33169,0,0,0,2,0,0,4.000000
33170,0,0,0,2,0,0,0.916667
33171,0,2,0,2,0,2,13.416667

In [3]:
df_HLES_hc = df_HLES_hc_uncleaned[df_HLES_hc_uncleaned['hs_diagnosis_month'].notna()]
df_HLES_hc

,dog_id,hs_condition_type,hs_condition,hs_condition_other_description,hs_condition_is_congenital,hs_eye_condition_cause,hs_condition_cause_other_description,hs_neurological_condition_vestibular_disease_type,hs_diagnosis_year,hs_diagnosis_month,hs_required_surgery_or_hospitalization,hs_follow_up_ongoing
0,100001,3,304.0,NaN,False,NaN,NaN,NaN,2021.0,1.0,1.0,False
1,100001,3,305.0,NaN,False,NaN,NaN,NaN,2021.0,1.0,1.0,True
2,100001,3,306.0,NaN,False,NaN,NaN,NaN,2021.0,1.0,1.0,True
3,100004,16,1617.0,NaN,False,NaN,NaN,NaN,2018.0,9.0,4.0,False
4,100005,1,102.0,NaN,False,NaN,NaN,NaN,2021.0,2.0,4.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
92995,99999,13,1306.0,NaN,False,NaN,NaN,NaN,2020.0,6.0,4.0,True
92996,99999,16,1627.0,NaN,False,NaN,NaN,NaN,2018.0,6.0,4.0,False
92997,99999,16,1634.0,NaN,False,NaN,NaN,NaN,2015.0,10.0,4.0,True
92998,82743,4,404.0,NaN,False,NaN,NaN,NaN,2013.0,7.0,4.0,False
92999,82743,17,1798.0,Unknown,False,NaN,NaN,NaN,2015.0,7.0,4.0,False

In [4]:
df_HLES_hc[['dog_id', 'hs_diagnosis_year', 'hs_diagnosis_month', 'hs_condition_type', 'hs_condition']]

,dog_id,hs_diagnosis_year,hs_diagnosis_month,hs_condition_type,hs_condition
0,100001,2021.0,1.0,3,304.0
1,100001,2021.0,1.0,3,305.0
2,100001,2021.0,1.0,3,306.0
3,100004,2018.0,9.0,16,1617.0
4,100005,2021.0,2.0,1,102.0
...,...,...,...,...,...
92995,99999,2020.0,6.0,13,1306.0
92996,99999,2018.0,6.0,16,1627.0
92997,99999,2015.0,10.0,16,1634.0
92998,82743,2013.0,7.0,4,404.0
92999,82743,2015.0,7.0,17,1798.0

In [5]:
df_HLES_hc['hs_condition'].value_counts()

hs_condition
304.0     4906
305.0     4499
1801.0    3566
1617.0    2379
202.0     2348
          ...
420.0        1
1639.0       1
1910.0       1
701.0        1
422.0        1
Name: count, Length: 313, dtype: int64

## Add Cancer diagnosis data

In [6]:
df_HLES_cc['condition_type_cancer'] = 20
df_HLES_cc['condition_cancer'] = 2000 # fill value for cancer conditions

In [7]:
id_condition_date = df_HLES_cc[['dog_id', 'condition_type_cancer', 'condition_cancer', 'hs_initial_diagnosis_year', 'hs_initial_diagnosis_month']]

In [8]:
concatenated_df = pd.concat([df_HLES_hc[['dog_id', 'hs_diagnosis_year', 'hs_diagnosis_month', 'hs_condition', 'hs_condition_type']],
                             df_HLES_cc[['dog_id', 'hs_initial_diagnosis_year', 'hs_initial_diagnosis_month', 'condition_cancer', 'condition_type_cancer']]])

# Replace NaN values in the specified columns
concatenated_df['hs_diagnosis_year'].fillna(concatenated_df['hs_initial_diagnosis_year'], inplace=True)
concatenated_df['hs_diagnosis_month'].fillna(concatenated_df['hs_initial_diagnosis_month'], inplace=True)
concatenated_df['hs_condition_type'].fillna(concatenated_df['condition_type_cancer'], inplace=True)
concatenated_df['hs_condition'].fillna(concatenated_df['condition_cancer'], inplace=True)

# Drop the unnecessary columns
df_HLES_hc = concatenated_df[['dog_id', 'hs_diagnosis_year', 'hs_diagnosis_month', 'hs_condition_type', 'hs_condition']]
df_HLES_hc

,dog_id,hs_diagnosis_year,hs_diagnosis_month,hs_condition_type,hs_condition
0,100001,2021.0,1.0,3.0,304.0
1,100001,2021.0,1.0,3.0,305.0
2,100001,2021.0,1.0,3.0,306.0
3,100004,2018.0,9.0,16.0,1617.0
4,100005,2021.0,2.0,1.0,102.0
...,...,...,...,...,...
2096,3373,2018.0,5.0,20.0,2000.0
2097,14856,2020.0,4.0,20.0,2000.0
2098,58327,2015.0,6.0,20.0,2000.0
2099,3417,2012.0,4.0,20.0,2000.0
2100,2063,2017.0,10.0,20.0,2000.0

### Calculate the age maximum to consider for each dog_id. Take death date incase the dog died or take the HLES completion date

In [31]:
df_HLES_do[['st_hles_completion_date']]

      st_hles_completion_date
0                  2020-10-17
1                  2020-10-26
2                  2020-09-07
3                  2020-08-21
4                  2020-10-23
...                       ...
33167              2021-06-22
33168              2020-09-15
33169              2021-05-25
33170              2021-06-18
33171              2020-11-28

[33172 rows x 1 columns]

In [32]:
df_ELOS[['dog_id', 'eol_death_date']]

      dog_id eol_death_date
0      30845     2021-09-15
1      26197     2021-06-14
2      58788     2021-07-15
3      72028     2020-12-31
4      34475     2021-01-19
...      ...            ...
2565   81081     2021-08-30
2566   88345     2021-01-20
2567   88018     2021-07-01
2568   17367     2021-03-19
2569   52365     2021-03-30

[2570 rows x 2 columns]

In [33]:
df_ELOS.dtypes

dog_id                                       int64
eol_willing_to_complete                       bool
eol_exact_death_date_known                    bool
eol_death_date                              object
eol_cause_of_death_primary                   int64
                                            ...
eol_illness_other_diagnosis                 object
eol_illness_other_diagnosis_description     object
eol_illness_awareness_timeframe            float64
eol_illness_treatment                      float64
eol_illness_treatment_other_description     object
Length: 227, dtype: object

In [34]:
df_DO[['dog_id', 'DOD']][df_DO['DOD'].notna()]

       dog_id         DOD
10         32  2021-07-22
13         42  2021-04-16
34        105  2020-12-04
72        232  2021-06-25
87        267  2021-01-08
...       ...         ...
32628  101854  2021-12-02
32657  101960  2021-11-24
32695  102075  2021-12-04
32811  102359  2021-12-04
33088  103337  2021-12-30

[2570 rows x 2 columns]

In [35]:
df_HLES_do_eol = df_HLES_do.merge(df_ELOS[['dog_id', 'eol_death_date']], on='dog_id', how='left')
df_HLES_do_eol[['dog_id', 'eol_death_date', 'st_hles_completion_date']][df_HLES_do_eol['eol_death_date'].notna()]

       dog_id eol_death_date st_hles_completion_date
33      30845     2021-09-15              2020-10-22
43      26197     2021-06-14              2020-09-19
51      58788     2021-07-15              2020-09-02
68      72028     2020-12-31              2020-11-03
85      34475     2021-01-19              2020-10-23
...       ...            ...                     ...
33130   81081     2021-08-30              2021-02-03
33136   88345     2021-01-20              2020-11-30
33151   88018     2021-07-01              2020-11-09
33153   17367     2021-03-19              2020-11-04
33162   52365     2021-03-30              2020-10-28

[2570 rows x 3 columns]

In [36]:
#df_HLES_do_eol[['dog_id', 'eol_death_date', 'st_hles_completion_date']]
df_HLES_do_eol['end_of_diagnosis_date'] = df_HLES_do_eol['st_hles_completion_date']

In [37]:
df_HLES_do_eol['st_hles_completion_date'][df_HLES_do_eol['st_hles_completion_date'].isna()]

Series([], Name: st_hles_completion_date, dtype: object)

In [38]:
df_HLES_do_eol.loc[df_HLES_do_eol['eol_death_date'] < df_HLES_do_eol['st_hles_completion_date'], 'end_of_diagnosis_date'] = df_HLES_do_eol['eol_death_date']

In [39]:
df_HLES_do_eol[['dog_id', 'end_of_diagnosis_date', 'eol_death_date', 'st_hles_completion_date']][df_HLES_do_eol['eol_death_date'].notna() & (df_HLES_do_eol['eol_death_date'] < df_HLES_do_eol['st_hles_completion_date'])]

       dog_id end_of_diagnosis_date eol_death_date st_hles_completion_date
460     63657            2020-06-22     2020-06-22              2020-08-25
773     67635            2020-05-23     2020-05-23              2020-08-06
1942    43224            2020-02-18     2020-02-18              2020-10-28
3658    72133            2020-01-01     2020-01-01              2020-10-20
4091    26709            2020-05-03     2020-05-03              2020-11-05
5464    57044            2020-03-20     2020-03-20              2020-08-17
5934    43609            2020-04-08     2020-04-08              2020-07-31
6050     7490            2019-05-17     2019-05-17              2020-01-07
6326    34086            2020-05-17     2020-05-17              2020-11-29
6483    26623            2020-08-25     2020-08-25              2020-11-30
6867    43441            2020-10-12     2020-10-12              2020-10-13
6947    12987            2020-06-13     2020-06-13              2020-07-25
7011     2229            2020-08-12     2020-08-12              2020-09-23
7683    70354            2020-03-15     2020-03-15              2020-09-15
8481    23616            2020-05-15     2020-05-15              2020-09-27
8938    71226            2020-07-08     2020-07-08              2020-11-03
9099    62119            2020-02-12     2020-02-12              2020-08-04
10522   44410            2020-09-01     2020-09-01              2020-09-24
10542   42856            2011-11-11     2011-11-11              2020-07-24
12040   16197            2020-05-31     2020-05-31              2020-10-24
12105   67280            2020-08-11     2020-08-11              2020-12-07
13992   76452            2020-07-14     2020-07-14              2020-08-07
14241   64080            2020-07-12     2020-07-12              2020-07-28
14716   31442            2019-12-06     2019-12-06              2020-07-24
15664   61005            2020-09-13     2020-09-13              2020-10-13
15912   91430            2020-02-20     2020-02-20              2020-12-05
16352   21397            2020-06-15     2020-06-15              2020-09-17
16664   43401            2020-05-05     2020-05-05              2020-12-02
17097   33733            2020-03-29     2020-03-29              2020-08-31
17151    9798            2020-08-27     2020-08-27              2020-08-31
17244   28741            2020-08-12     2020-08-12              2020-08-21
17896   35623            2020-04-15     2020-04-15              2020-08-24
19226   30928            2020-03-24     2020-03-24              2020-08-05
21034   39648            2020-08-22     2020-08-22              2020-09-24
21618   10094            2020-07-02     2020-07-02              2020-08-30
21972   53965            2020-09-30     2020-09-30              2020-10-04
22111   50242            2020-11-25     2020-11-25              2020-11-30
22155   27020            2020-11-18     2020-11-18              2020-11-29
22584   30247            2019-12-14     2019-12-14              2020-09-25
22774   90060            2020-11-01     2020-11-01              2020-11-11
22785   56919            2020-09-16     2020-09-16              2020-10-19
22799   75249            2020-06-26     2020-06-26              2020-09-25
22988   60430            2010-08-15     2010-08-15              2020-08-18
23353    5850            2020-01-30     2020-01-30              2020-08-26
23364   19554            2020-09-15     2020-09-15              2020-09-23
23875   84382            2020-07-07     2020-07-07              2020-11-25
24903    2457            2020-11-09     2020-11-09              2020-11-18
25298   60101            2021-06-16     2021-06-16              2021-06-25
25477   15423            2020-01-07     2020-01-07              2020-08-29
26057   13621            2020-01-05     2020-01-05              2020-10-14
26534   70185            2020-07-15     2020-07-15              2020-12-10
27483   81967            2020-12-24     2020-12-24              2020-12-27
27990   60479            2020-04-26     2020-04-26              2020-11-13
28925   94735            2021-03-30     2021-03-30              2021-04-21
29846    2680            2020-08-28     2020-08-28              2020-09-08
30444    7059            2020-10-01     2020-10-01              2020-10-22
31368   51869            2020-06-23     2020-06-23              2020-09-23
31507   32709            2020-03-08     2020-03-08              2020-11-25
31581   34706            2020-09-01     2020-09-01              2020-11-22
32670   62984            2020-01-23     2020-01-23              2020-10-03

In [40]:
df_HLES_do_eol['end_of_diagnosis_date'][~df_HLES_do_eol['end_of_diagnosis_date'].notna()]

Series([], Name: end_of_diagnosis_date, dtype: object)

In [41]:
year_mapping = {
    1.0: 2001,
    2.0: 2002,
    3.0: 2003,
    4.0: 2004,
    5.0: 2005,
    6.0: 2006,
    7.0: 2007,
    8.0: 2008,
    9.0: 2009,
    10.0: 2010,
    11.0: 2011,
    12.0: 2012,
    13.0: 2013,
    14.0: 2014,
    15.0: 2015,
    16.0: 2016,
    17.0: 2017,
    18.0: 2018,
    19.0: 2019,
    20.0: 2020,
    21.0: 2021,

    ## other
    1.989: 1989,
    1.99: 1990,
    1.990e+03: 1990,
    1.991: 1991,
    2.002000: 2002,
    2.0032: 2003,
    2.008300e+04: 2008,
    200909: 2009,
    2.200990: 2009,
    2.010201: 2010,
    1.620152: 2015,
    2.0111: 2011,
    2.011111: 2011,
    1.62015: 2015,
    1.520150: 2015,
    2.015150e+05: 2015,
    2.016202e+07: 2016,
    2.016202: 2016,
    2.2016: 2016,
    6.201600: 2016,
    6.201600e+04: 2016,
    2.016160: 2016,
    1.620162: 2016,
    2.017202: 2017,
    2.017700: 2017,
    20188: 2018,
    2.018300e+04: 2018,
    2.018400e+04: 2018,
    1.1919: 2019,
    2819: 2019,
    201919: 2019,
    2.020190e+05: 2019,
    19: 2019,
    192019: 2019,
    2.020182: 2020,
    2.020202: 2020,
    20202: 2020,
    2.202000: 2020,
    2.2020: 2020,
    2820: 2020,
    2028: 2020,
    2.020002: 2020,
    202020.0: 2020,
    20202020: 2020,
    2.020020: 2020,
    2.020190: 2020,
    2.020203: 2020,
    2.020220: 2020,
    1.420212: 2021,
    1.202016e+06: 2016,
    2.003200e+09: 2003,
    2.002000e+04: 2002,
    2.017700e+04: 2017,
    2.020203e+11: 2020,
    2.016160e+05: 2016,
    2.005050e+05: 2005,
    8.202000e+04: 2020,
    2.201702e+07: 2017,
    2.019019e+10: 2019,
    1.990000e+02: 1990,
    2.011100e+04: 2011,
    8.201800e+04: 2018,
    2.010000e+02: 2010,
    2.014014e+06: 2014,
    2.010800e+04: 2010,
    1.020100e+05: 2010,
    1.620152e+07: 2015,
    2.200990e+09: 2009,
    2.017202e+12: 2017,
    1.520150e+05: 2015,
}

In [42]:
# Apply the mapping to the dataframe
df_HLES_hc['hs_diagnosis_year'] = df_HLES_hc['hs_diagnosis_year'].apply(lambda x: year_mapping[x] if x in year_mapping else x)
df_HLES_hc

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_22342/3683109219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HLES_hc['hs_diagnosis_year'] = df_HLES_hc['hs_diagnosis_year'].apply(lambda x: year_mapping[x] if x in year_mapping else x)

,dog_id,hs_diagnosis_year,hs_diagnosis_month,hs_condition_type,hs_condition,hs_diagnosis_year_alt,hs_diagnosis_month_alt,Diagnosis_Date
0,100001,2021.0,1.0,3.0,304.0,2021,1,2021-01-15
1,100001,2021.0,1.0,3.0,305.0,2021,1,2021-01-15
2,100001,2021.0,1.0,3.0,306.0,2021,1,2021-01-15
3,100004,2018.0,9.0,16.0,1617.0,2018,9,2018-09-15
4,100005,2021.0,2.0,1.0,102.0,2021,2,2021-02-15
...,...,...,...,...,...,...,...,...
2096,3373,2018.0,5.0,20.0,2000.0,2018,5,2018-05-15
2097,14856,2020.0,4.0,20.0,2000.0,2020,4,2020-04-15
2098,58327,2015.0,6.0,20.0,2000.0,2015,6,2015-06-15
2099,3417,2012.0,4.0,20.0,2000.0,2012,4,2012-04-15
2100,2063,2017.0,10.0,20.0,2000.0,2017,10,2017-10-15

In [43]:
df_HLES_hc['hs_diagnosis_year'].value_counts()

hs_diagnosis_year
2020.0       21402
2019.0       16761
2018.0       13158
2017.0        8770
2016.0        6979
             ...
1201111.0        1
20200.0          1
1918.0           1
29.0             1
90920.0          1
Name: count, Length: 104, dtype: int64

In [44]:
df_HLES_hc.isna().sum()

dog_id                     0
hs_diagnosis_year          0
hs_diagnosis_month         0
hs_condition_type          0
hs_condition               0
hs_diagnosis_year_alt      0
hs_diagnosis_month_alt     0
Diagnosis_Date            71
dtype: int64

In [45]:
df_HLES_hc[['dog_id', 'hs_diagnosis_month', 'hs_diagnosis_year', 'hs_condition', 'hs_condition_type']]

,dog_id,hs_diagnosis_month,hs_diagnosis_year,hs_condition,hs_condition_type
0,100001,1.0,2021.0,304.0,3.0
1,100001,1.0,2021.0,305.0,3.0
2,100001,1.0,2021.0,306.0,3.0
3,100004,9.0,2018.0,1617.0,16.0
4,100005,2.0,2021.0,102.0,1.0
...,...,...,...,...,...
2096,3373,5.0,2018.0,2000.0,20.0
2097,14856,4.0,2020.0,2000.0,20.0
2098,58327,6.0,2015.0,2000.0,20.0
2099,3417,4.0,2012.0,2000.0,20.0
2100,2063,10.0,2017.0,2000.0,20.0

In [46]:
# Sample df_DO
df_DO['Estimated_DOB'] = pd.to_datetime(df_DO['Estimated_DOB'])

# Handle NaN values and convert floats to integers for year and month
df_HLES_hc['hs_diagnosis_year_alt'] = df_HLES_hc['hs_diagnosis_year'].astype(int)
df_HLES_hc['hs_diagnosis_month_alt'] = df_HLES_hc['hs_diagnosis_month'].astype(int)

# Create Diagnosis_Date column
df_HLES_hc['Diagnosis_Date'] = pd.to_datetime(df_HLES_hc['hs_diagnosis_year_alt'].astype(str) + '-' + df_HLES_hc['hs_diagnosis_month_alt'].astype(str) + '-15', errors='coerce')

# Merge DataFrames on 'dog_id'
df_hc_do = df_HLES_hc.merge(df_DO, on='dog_id', how='left')

# Calculate time difference
df_hc_do['age_diagnosis_days'] = (df_hc_do['Diagnosis_Date'] - df_hc_do['Estimated_DOB']).dt.days
df_hc_do['age_diagnosis_month'] = (df_hc_do['Diagnosis_Date'] - df_hc_do['Estimated_DOB']) / pd.Timedelta(days=30)
df_hc_do['age_diagnosis_years'] = (df_hc_do['Diagnosis_Date'] - df_hc_do['Estimated_DOB']) / pd.Timedelta(days=365.25)
df_hc_do['age_diagnosis_years'] = np.floor((df_hc_do['Diagnosis_Date'] - df_hc_do['Estimated_DOB']) / pd.Timedelta(days=365.25))


# Display the result
df_hc_do[['dog_id', 'age_diagnosis_month', 'age_diagnosis_days', 'age_diagnosis_years']]

/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_22342/477946892.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HLES_hc['hs_diagnosis_year_alt'] = df_HLES_hc['hs_diagnosis_year'].astype(int)
/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_22342/477946892.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HLES_hc['hs_diagnosis_month_alt'] = df_HLES_hc['hs_diagnosis_month'].astype(int)
/var/folders/zd/3_6frj8s08b9zb1f3y0xqr2r0000gn/T/ipykernel_22342/477946892.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HLES_hc['Diagnosis_Date'] = pd.to_datetime(df_HLES_hc['hs_diagnosis_year_alt'].astype(str) + '-' + df_HLES_hc['hs_diagnosis_month_alt'].astype(str) + '-15', errors='coerce')

       dog_id  age_diagnosis_month  age_diagnosis_days  age_diagnosis_years
0      100001            70.066667              2102.0                  5.0
1      100001            70.066667              2102.0                  5.0
2      100001            70.066667              2102.0                  5.0
3      100004             4.100000               123.0                  0.0
4      100005           153.266667              4598.0                 12.0
...       ...                  ...                 ...                  ...
94545    3373           131.900000              3957.0                 10.0
94546   14856           125.800000              3774.0                 10.0
94547   58327            84.200000              2526.0                  6.0
94548    3417            17.666667               530.0                  1.0
94549    2063            85.866667              2576.0                  7.0

[94550 rows x 4 columns]

In [47]:
df_hc_do_eol = df_hc_do.merge(df_HLES_do_eol[['dog_id', 'end_of_diagnosis_date']], on='dog_id', how='left')

In [48]:
df_hc_do_eol[['dog_id', 'end_of_diagnosis_date', 'Estimated_DOB']]

       dog_id end_of_diagnosis_date Estimated_DOB
0      100001            2021-08-11    2015-04-15
1      100001            2021-08-11    2015-04-15
2      100001            2021-08-11    2015-04-15
3      100004            2021-07-23    2018-05-15
4      100005            2021-07-21    2008-07-15
...       ...                   ...           ...
94545    3373            2020-10-10    2007-07-15
94546   14856            2020-08-24    2009-12-15
94547   58327            2021-08-24    2008-07-15
94548    3417            2020-11-02    2010-11-02
94549    2063            2020-09-26    2010-09-26

[94550 rows x 3 columns]

In [49]:
# Turn end_of_diagnosis_date into the age of when end_of_diagnosis_date is
df_hc_do_eol['end_of_diagnosis_date'] = pd.to_datetime(df_hc_do_eol['end_of_diagnosis_date'])
df_hc_do_eol['end_of_diagnosis_year'] = np.floor((df_hc_do_eol['end_of_diagnosis_date'] - df_hc_do_eol['Estimated_DOB']) / pd.Timedelta(days=365.25))
df_hc_do_eol[['dog_id', 'end_of_diagnosis_year', 'end_of_diagnosis_date', 'Estimated_DOB']]

       dog_id  end_of_diagnosis_year end_of_diagnosis_date Estimated_DOB
0      100001                    6.0            2021-08-11    2015-04-15
1      100001                    6.0            2021-08-11    2015-04-15
2      100001                    6.0            2021-08-11    2015-04-15
3      100004                    3.0            2021-07-23    2018-05-15
4      100005                   13.0            2021-07-21    2008-07-15
...       ...                    ...                   ...           ...
94545    3373                   13.0            2020-10-10    2007-07-15
94546   14856                   10.0            2020-08-24    2009-12-15
94547   58327                   13.0            2021-08-24    2008-07-15
94548    3417                   10.0            2020-11-02    2010-11-02
94549    2063                   10.0            2020-09-26    2010-09-26

[94550 rows x 4 columns]

In [50]:
df_hc_do_eol[['dog_id', 'age_diagnosis_years', 'hs_diagnosis_year', 'Diagnosis_Date', 'end_of_diagnosis_year', 'end_of_diagnosis_date', 'Estimated_DOB', 'hs_condition']][df_hc_do_eol['age_diagnosis_years'].isna()]

,dog_id,age_diagnosis_years,hs_diagnosis_year,Diagnosis_Date,end_of_diagnosis_year,end_of_diagnosis_date,Estimated_DOB,hs_condition
85,100097,NaN,2020.0,2020-07-15,NaN,2021-07-28,NaT,304.0
86,100097,NaN,2020.0,2020-07-15,NaN,2021-07-28,NaT,307.0
839,100767,NaN,20212111.0,NaT,0.0,2021-09-12,2020-10-15,1617.0
1983,102519,NaN,20202021.0,NaT,5.0,2021-11-25,2016-05-15,1812.0
2228,102776,NaN,2016.0,2016-12-15,NaN,2021-12-14,NaT,305.0
...,...,...,...,...,...,...,...,...
92447,82743,NaN,2013.0,2013-07-15,NaN,2020-12-19,NaT,404.0
92448,82743,NaN,2015.0,2015-07-15,NaN,2020-12-19,NaT,1798.0
93811,27611,NaN,2020200.0,NaT,12.0,2020-10-31,2008-07-15,2000.0
93975,52144,NaN,90920.0,NaT,15.0,2020-07-27,2005-04-15,2000.0
94484,78647,NaN,2020.0,2020-09-15,NaN,2020-11-10,NaT,2000.0

In [52]:
# Filter out rows with NaN values in 'end_of_diagnosis_year' because Estimated_DOB is NaT
df_hc_do_eol = df_hc_do_eol[(df_hc_do_eol['end_of_diagnosis_year'].notna()) & (df_hc_do_eol['age_diagnosis_years'].notna())]
df_hc_do_eol

,dog_id,hs_diagnosis_year,hs_diagnosis_month,hs_condition_type,hs_condition,hs_diagnosis_year_alt,hs_diagnosis_month_alt,Diagnosis_Date,DAP_Pack_Date,Cohort,...,DNA_Swab_ID,PrimaryAddress_HLES,SecondaryAddress_HLES,PrimaryAddress_AFUS2021,SecondaryAddress_AFUS2021,age_diagnosis_days,age_diagnosis_month,age_diagnosis_years,end_of_diagnosis_date,end_of_diagnosis_year
0,100001,2021.0,1.0,3.0,304.0,2021,1,2021-01-15,2021-08-11,DAP Pack,...,NaN,Y,N,N,N,2102.0,70.066667,5.0,2021-08-11,6.0
1,100001,2021.0,1.0,3.0,305.0,2021,1,2021-01-15,2021-08-11,DAP Pack,...,NaN,Y,N,N,N,2102.0,70.066667,5.0,2021-08-11,6.0
2,100001,2021.0,1.0,3.0,306.0,2021,1,2021-01-15,2021-08-11,DAP Pack,...,NaN,Y,N,N,N,2102.0,70.066667,5.0,2021-08-11,6.0
3,100004,2018.0,9.0,16.0,1617.0,2018,9,2018-09-15,2021-07-23,DAP Pack,...,NaN,Y,N,N,N,123.0,4.100000,0.0,2021-07-23,3.0
4,100005,2021.0,2.0,1.0,102.0,2021,2,2021-02-15,2021-07-21,DAP Pack,...,NaN,Y,N,N,N,4598.0,153.266667,12.0,2021-07-21,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94545,3373,2018.0,5.0,20.0,2000.0,2018,5,2018-05-15,2020-10-10,DAP Pack,...,NaN,Y,N,N,N,3957.0,131.900000,10.0,2020-10-10,13.0
94546,14856,2020.0,4.0,20.0,2000.0,2020,4,2020-04-15,2020-08-24,Foundation,...,3.102006e+13,Y,Y,N,N,3774.0,125.800000,10.0,2020-08-24,10.0
94547,58327,2015.0,6.0,20.0,2000.0,2015,6,2015-06-15,2021-08-24,DAP Pack,...,NaN,Y,N,N,N,2526.0,84.200000,6.0,2021-08-24,13.0
94548,3417,2012.0,4.0,20.0,2000.0,2012,4,2012-04-15,2020-11-02,DAP Pack,...,NaN,Y,N,N,N,530.0,17.666667,1.0,2020-11-02,10.0
94549,2063,2017.0,10.0,20.0,2000.0,2017,10,2017-10-15,2020-09-26,Foundation,...,3.102006e+13,Y,N,N,N,2576.0,85.866667,7.0,2020-09-26,10.0

In [53]:
# Function to generate rows for each year of a dog's life
def generate_rows(row):
    dog_id = row['dog_id']
    start_year = 0
    end_year = int(row['end_of_diagnosis_year'])
    diagnosis_year = int(row['age_diagnosis_years'])
    hs_condition = row['hs_condition']
    hs_condition_type = row['hs_condition_type']

    rows = []
    for year in range(start_year, end_year + 1):
        if year == diagnosis_year:
            rows.append([dog_id, year, end_year, hs_condition, hs_condition_type])
        else:
            rows.append([dog_id, year, end_year, 0, 0])
    return rows

# Apply the function to each row and flatten the resulting list of lists
new_rows = [row for _, row in df_hc_do_eol.iterrows() for row in generate_rows(row)]

# Create a new DataFrame from the generated rows
columns = ['dog_id', 'age_diagnosis_years', 'end_of_diagnosis_year', 'hs_condition', 'hs_condition_type']
extended_df = pd.DataFrame(new_rows, columns=columns)
extended_df = extended_df.drop_duplicates()
extended_df = extended_df.drop('end_of_diagnosis_year', axis=1)
extended_df

        dog_id  age_diagnosis_years  hs_condition  hs_condition_type
0       100001                    0           0.0                0.0
1       100001                    1           0.0                0.0
2       100001                    2           0.0                0.0
3       100001                    3           0.0                0.0
4       100001                    4           0.0                0.0
...        ...                  ...           ...                ...
910915    3373                   10        2000.0               20.0
910929   14856                   10        2000.0               20.0
910936   58327                    6        2000.0               20.0
910945    3417                    1        2000.0               20.0
910962    2063                    7        2000.0               20.0

[306428 rows x 4 columns]

In [54]:
#extended_df.groupby('dog_id')['end_of_diagnosis_year'].mean()

In [55]:
extended_df['dog_id'].unique()

array([100001, 100004, 100005, ...,  85394,  46295,  77040])

In [56]:
extended_df['hs_condition_type'].value_counts()

hs_condition_type
0.0     214073
3.0      13885
4.0      13827
18.0     11455
16.0     11190
11.0      7835
7.0       5670
1.0       5323
2.0       4666
17.0      4047
9.0       3024
5.0       2406
20.0      2083
12.0      1818
6.0       1331
8.0       1192
13.0      1155
10.0       786
19.0       267
15.0       208
14.0       187
Name: count, dtype: int64

In [57]:
hs_condition_mapping = {
    0: 'no_condition_diagnosis',
    304: 'Dental calculus (yellow build-upon teeth',
    305: 'Extracted teeth',
    1801:'Trauma',
    1617:'Giardia',
    202:'Ear Infection',
    426:'Seasonal allergies',
    306:'Fractured teeth',
    1113:'Osteoarthritis',
    1817:'Snakebite',
    1898:'Torn or broken toenail',
    504:'Murmur',
    1605:'Bordetella and/or parainfluenza("kennel cough")',
    1701:'Chocolate',
    423:'Pruritis (itchy skin)',
    102:'Cataracts',
    1812:'Kicked by horse or other large animal',
    1105:'Cruciate ligament rupture',
    428:'Sebaceous cysts',
    307:'Gingivitis (red, puffy gums)',
    412:'Food or medicine allergies that affect the skin',
}


hs_condition_type_mapping = {
    0: 'no_condition_type_diagnosis',
    1: 'Eye',
    2: 'Ear/Nose/Throat',
    3: 'Mouth/Dental/Oral',
    4: 'Skin',
    5: 'Cardiac',
    6: 'Respiratory',
    7: 'Gastrointestinal',
    8: 'Liver/Pancreas',
    9: 'Kidney/Urinary',
    10: 'Reproductive',
    11: 'Bone/Orthopedic',
    12: 'Brain/Neurologic',
    13: 'Endocrine',
    14: 'Hematopoietic',
    15: 'Other Congenital Disorder',
    16: 'Infection/Parasites',
    17: 'Toxin Consumption',
    18: 'Trauma',
    19: 'Immune-mediated',
    20: 'cancer'
 }

In [58]:
extended_df['condition'] = extended_df['hs_condition'].map(hs_condition_mapping).fillna('Other_condition')
extended_df['condition_type'] = extended_df['hs_condition_type'].map(hs_condition_type_mapping)
extended_df

,dog_id,age_diagnosis_years,hs_condition,hs_condition_type,condition,condition_type
0,100001,0,0.0,0.0,no_condition_diagnosis,no_condition_type_diagnosis
1,100001,1,0.0,0.0,no_condition_diagnosis,no_condition_type_diagnosis
2,100001,2,0.0,0.0,no_condition_diagnosis,no_condition_type_diagnosis
3,100001,3,0.0,0.0,no_condition_diagnosis,no_condition_type_diagnosis
4,100001,4,0.0,0.0,no_condition_diagnosis,no_condition_type_diagnosis
...,...,...,...,...,...,...
910915,3373,10,2000.0,20.0,Other_condition,cancer
910929,14856,10,2000.0,20.0,Other_condition,cancer
910936,58327,6,2000.0,20.0,Other_condition,cancer
910945,3417,1,2000.0,20.0,Other_condition,cancer
910962,2063,7,2000.0,20.0,Other_condition,cancer

In [59]:
extended_df[['dog_id', 'age_diagnosis_years', 'condition_type']]

        dog_id  age_diagnosis_years               condition_type
0       100001                    0  no_condition_type_diagnosis
1       100001                    1  no_condition_type_diagnosis
2       100001                    2  no_condition_type_diagnosis
3       100001                    3  no_condition_type_diagnosis
4       100001                    4  no_condition_type_diagnosis
...        ...                  ...                          ...
910915    3373                   10                       cancer
910929   14856                   10                       cancer
910936   58327                    6                       cancer
910945    3417                    1                       cancer
910962    2063                    7                       cancer

[306428 rows x 3 columns]

In [60]:
ext_group_dog_id = extended_df.groupby('dog_id')
ext_group_dog_id

In [61]:
extended_df['hs_condition'].value_counts()

hs_condition
0.0       214073
304.0       4865
305.0       4461
1801.0      3496
202.0       2296
           ...
1201.0         1
903.0          1
1402.0         1
422.0          1
420.0          1
Name: count, Length: 315, dtype: int64

In [62]:
age_condition = extended_df[['dog_id', 'age_diagnosis_years', 'condition']]

onehot_enc_condition = pd.get_dummies(age_condition['condition'], prefix='condition')

# Concatenate the one-hot encoded DataFrame with the original DataFrame
age_condition = pd.concat([age_condition, onehot_enc_condition], axis=1)

# Drop the original 'condition' column since it has been one-hot encoded
age_condition = age_condition.drop('condition', axis=1)
age_condition

,dog_id,age_diagnosis_years,"condition_Bordetella and/or parainfluenza(""kennel cough"")",condition_Cataracts,condition_Chocolate,condition_Cruciate ligament rupture,condition_Dental calculus (yellow build-upon teeth,condition_Ear Infection,condition_Extracted teeth,condition_Food or medicine allergies that affect the skin,...,condition_Murmur,condition_Osteoarthritis,condition_Other_condition,condition_Pruritis (itchy skin),condition_Seasonal allergies,condition_Sebaceous cysts,condition_Snakebite,condition_Torn or broken toenail,condition_Trauma,condition_no_condition_diagnosis
0,100001,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,100001,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,100001,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,100001,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,100001,4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910915,3373,10,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
910929,14856,10,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
910936,58327,6,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
910945,3417,1,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
910962,2063,7,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [63]:
age_condition.columns

Index(['dog_id', 'age_diagnosis_years',
       'condition_Bordetella and/or parainfluenza("kennel cough")',
       'condition_Cataracts', 'condition_Chocolate',
       'condition_Cruciate ligament rupture',
       'condition_Dental calculus (yellow build-upon teeth',
       'condition_Ear Infection', 'condition_Extracted teeth',
       'condition_Food or medicine allergies that affect the skin',
       'condition_Fractured teeth', 'condition_Giardia',
       'condition_Gingivitis (red, puffy gums)',
       'condition_Kicked by horse or other large animal', 'condition_Murmur',
       'condition_Osteoarthritis', 'condition_Other_condition',
       'condition_Pruritis (itchy skin)', 'condition_Seasonal allergies',
       'condition_Sebaceous cysts', 'condition_Snakebite',
       'condition_Torn or broken toenail', 'condition_Trauma',
       'condition_no_condition_diagnosis'],
      dtype='object')

In [80]:
# Drop unnecessary columns
age_condition = age_condition.drop(['condition_no_condition_diagnosis'], axis=1)
age_condition

,dog_id,age_diagnosis_years,"condition_Bordetella and/or parainfluenza(""kennel cough"")",condition_Cataracts,condition_Chocolate,condition_Cruciate ligament rupture,condition_Dental calculus (yellow build-upon teeth,condition_Ear Infection,condition_Extracted teeth,condition_Food or medicine allergies that affect the skin,...,condition_Kicked by horse or other large animal,condition_Murmur,condition_Osteoarthritis,condition_Other_condition,condition_Pruritis (itchy skin),condition_Seasonal allergies,condition_Sebaceous cysts,condition_Snakebite,condition_Torn or broken toenail,condition_Trauma
0,100001,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,100001,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,100001,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,100001,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,100001,4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910915,3373,10,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
910929,14856,10,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
910936,58327,6,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
910945,3417,1,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
910962,2063,7,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [81]:
age_condition.to_pickle('../Common_Code/features/age_condition.pkl')
age_condition.to_csv('../Common_Code/features/age_condition.csv', index=False)

In [82]:
age_condition_type = extended_df[['dog_id', 'age_diagnosis_years', 'condition_type']]

onehot_enc_condition = pd.get_dummies(age_condition_type['condition_type'], prefix='condition_type')

# Concatenate the one-hot encoded DataFrame with the original DataFrame
age_condition_type = pd.concat([age_condition_type, onehot_enc_condition], axis=1)

# Drop the original 'condition' column since it has been one-hot encoded
age_condition_type = age_condition_type.drop('condition_type', axis=1)
age_condition_type

,dog_id,age_diagnosis_years,condition_type_Bone/Orthopedic,condition_type_Brain/Neurologic,condition_type_Cardiac,condition_type_Ear/Nose/Throat,condition_type_Endocrine,condition_type_Eye,condition_type_Gastrointestinal,condition_type_Hematopoietic,...,condition_type_Liver/Pancreas,condition_type_Mouth/Dental/Oral,condition_type_Other Congenital Disorder,condition_type_Reproductive,condition_type_Respiratory,condition_type_Skin,condition_type_Toxin Consumption,condition_type_Trauma,condition_type_cancer,condition_type_no_condition_type_diagnosis
0,100001,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,100001,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,100001,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,100001,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,100001,4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910915,3373,10,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
910929,14856,10,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
910936,58327,6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
910945,3417,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
910962,2063,7,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [83]:
age_condition_type[['dog_id', 'age_diagnosis_years', 'condition_type_Bone/Orthopedic', 'condition_type_cancer']]

,dog_id,age_diagnosis_years,condition_type_Bone/Orthopedic,condition_type_cancer
0,100001,0,False,False
1,100001,1,False,False
2,100001,2,False,False
3,100001,3,False,False
4,100001,4,False,False
...,...,...,...,...
910915,3373,10,False,True
910929,14856,10,False,True
910936,58327,6,False,True
910945,3417,1,False,True
910962,2063,7,False,True

In [84]:
# Drop unnecessary columns
age_condition_type = age_condition_type.drop(['condition_type_no_condition_type_diagnosis'], axis=1)
age_condition_type

,dog_id,age_diagnosis_years,condition_type_Bone/Orthopedic,condition_type_Brain/Neurologic,condition_type_Cardiac,condition_type_Ear/Nose/Throat,condition_type_Endocrine,condition_type_Eye,condition_type_Gastrointestinal,condition_type_Hematopoietic,...,condition_type_Kidney/Urinary,condition_type_Liver/Pancreas,condition_type_Mouth/Dental/Oral,condition_type_Other Congenital Disorder,condition_type_Reproductive,condition_type_Respiratory,condition_type_Skin,condition_type_Toxin Consumption,condition_type_Trauma,condition_type_cancer
0,100001,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,100001,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,100001,2,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,100001,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,100001,4,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910915,3373,10,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
910929,14856,10,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
910936,58327,6,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
910945,3417,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
910962,2063,7,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [85]:
age_condition_type.to_pickle('../Common_Code/features/age_condition_type.pkl')
age_condition_type.to_csv('../Common_Code/features/age_condition_type.csv', index=False)

In [86]:
age_condition_type[['dog_id', 'age_diagnosis_years', 'condition_type_Bone/Orthopedic', 'condition_type_Bone/Orthopedic']]

,dog_id,age_diagnosis_years,condition_type_Bone/Orthopedic,condition_type_Bone/Orthopedic
0,100001,0,False,False
1,100001,1,False,False
2,100001,2,False,False
3,100001,3,False,False
4,100001,4,False,False
...,...,...,...,...
910915,3373,10,False,False
910929,14856,10,False,False
910936,58327,6,False,False
910945,3417,1,False,False
910962,2063,7,False,False

In [87]:
age_condition_type['age_diagnosis_years'].value_counts().sum()

306428